<div class="conversation col-md-offset-1">
  <div class="chatboxhead">
    <div class="chatboxtitle">
      <i class="fa fa-comments"></i>
   
      <h1><%= @reciever.name %> </h1>
    </div>
    <div class="chatboxoptions">
      <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation.id %>
      &nbsp;&nbsp;
      <%= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation.id %>
    </div>
    <br clear="all"/>
  </div>
  <div class="chatboxcontent">
    <% if @messages.any? %>
        <%= render @messages %>
    <% end %>
  </div>
  <div class="chatboxinput">
    <%= form_for([@conversation, @message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
        <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id %>
        <div class="chat-form-btns">
        <%= f.submit "send", class: "btn btn-primary btn-sm btn-submit"%>
        <%= f.submit "New Title!", class: "btn btn-success btn-sm btn-new-title"%>
        </div>

    <% end %>
    
  </div>
</div>
<div class="col col-md-4 col-md-offset-4">

<table class="table table-info games-table">
  <tbody>
    <% @users.each do |user| %>
    <% unless current_user == user %>
    <tr>
      <td id="new-messages-<%= user.id %>"><%= availability(user) %></td>
      <td id="new-messages-name-<%= user.id %>"><%= user.name %></td>
      <td class="start-btn-table">
        <%= button_to "Play!", conversations_path(:recipient_id => user.id, :sender_id => current_user.id), class: "btn btn-success btn-xs start-conversation"%>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
</div>

 
<%= subscribe_to conversation_path(@conversation) %>
